token: ''
antiflood_config:
  messaggi: 3
  secondi: 4

emojis:
  grinning_face:
    emoji: "😀"
    description: 'faccia sorridente'
  face_with_tears_of_joy:
    emoji: '😂'
    description: 'faccia con lacrime di gioia'
  upside_down_face:
    emoji: '🙃'
    description: 'faccia sotto sopra'

ytinstances:
  - "https://invidio.us/"
  - "https://invidious.snopyta.org/"
  - "https://invidious.toot.koeln/"

db_file: 'AntiFloodBot.db'